{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ralph & Teddy - The Library</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/index_list.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo-navbar">
                <a href="{% url 'home' %}">
                    <img src="../../../media/logo-sem-fundo.png" alt="Home">
                </a>
            </div>
            <div class="title-navbar">
                <h1>Ralph & Teddy - The Library</h1>
            </div>
            <div class="search-navbar">
                <form method="get" action="{% url 'search-book' %}">
                    <input type="text" name="q" placeholder="Pesquise um Livro">
                    {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}">Sair</a>
                    {% else %}
                        <a href="{% url 'login' %}">Login</a>
                    {% endif %}
                </form>
            </div>
            {% if user.is_authenticated %}
                <div class="avatar">
                    {% if user.is_superuser %}
                        <h2>Adm</h2>
                    {% else %}
                        <h2>User</h2>
                    {% endif %}
                </div>
            {% endif %}
        </nav>
        <nav class="navbar-links">
            {% if user.is_superuser %}
                <div class="admin-links">
                    <a class="add-button" href="{% url 'add-books' %}" type="submit">Add Livros</a>
                    <a class="add-button" href="{% url 'home' %}" type="submit">Catálogo</a>
                    <a class="add-button" href="{% url 'stockless-list' %}" type="submit">Sem Estoque</a>
                    <a class="add-button" href="{% url 'view-loans' %}" type="submit">Empréstimos</a>
                </div>
            {% endif %}
        </nav>
    </header>
    {% if books %}
        <main>
            <table class="book-list">
                <thead>
                    <tr>
                        <th>Cod</th>
                        <th>Título</th>
                        <th>Autor</th>
                        <th>Gênero</th>
                        <th>Disponível</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                    <tr>
                        <td>{{book.cod}}</td>
                        <td><a href="{% url 'book-detail' book.id %}">{{book.name}}</a></td>
                        <td>{{book.author}}</td>
                        <td>{{book.gender}}</td>
                        <td>{{book.in_stock}}</td>
                    </tr>
                    {% endfor %}
                </tbody>    
            </table>
        </main>
    {% else %}
        <p class="no-results-message">Desculpe! Nenhum livro encontrado.</p>
    {% endif %}
    <footer class="footer">
        <img src="../../../media/ralph-rosto.png" alt="Ralph">
        <a href="https://github.com/AndersonDutra7" target="_blank"><i class="fab fa-github"></i></a>
        <p>Created by Anderson Dutra</p>
        <a href="https://www.linkedin.com/in/anderson-dutra-88b294211/" target="_blank"><i class="fab fa-linkedin"></i></a>
        <img src="../../../media/teddy-rosto.png" alt="Teddy">
    </footer>
</body>
</html>
