{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ralph & Teddy - The Library</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo-navbar">
                <img src="../../../media/Ralph Delivery (2).png" alt="">
            </div>
            <div class="title-navbar">
                <h1>Ralph & Teddy - The Library</h1>
            </div>
            <div class="search-navbar">
                <input type="text" placeholder="Pesquise um Livro">
                <button>Login</button>
            </div>
        </nav>
    </header>
    <main>
        {% for book in books %}
        <div class="card">
            <img src="{{ book.book_cover.url}}" alt="Livro">
            <div class="card-content">
                <h2>{{ book.name }}</h2>
                <p>Autor: {{ book.author }}</p>
                <p>Gênero: {{ book.gender }}</p>
            </div>
        </div>
        {% endfor %}
    </main>
    <footer class="footer">
        <img src="../../../media/ralph-rosto.png" alt="Ralph">
        <p>Created by Anderson Dutra</p>
        <img src="../../../media/teddy-rosto.png" alt="Teddy">
    </footer>

    <script>
        console.log(`{{ books }}`);
    </script>

</body>
</html>