{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ralph & Teddy - The Library</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/book_detail.css' %}">
    <link rel="stylesheet" href="{% static 'css/lean_book.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo-navbar">
                <a href="{% url 'home' %}">
                    <img src="../../../media/logo-sem-fundo.png" alt="Home">
                </a>
            </div>
            <div class="title-navbar">
                <h1>Ralph & Teddy - The Library</h1>
            </div>
            <div class="search-navbar">
                <form method="get" action="{% url 'search-book' %}">
                    <input type="text" name="q" placeholder="Pesquise um Livro">
                    {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}">Sair</a>
                    {% else %}
                        <a href="{% url 'login' %}">Login</a>
                    {% endif %}
                </form>
                            
            </div>
            {% if user.is_authenticated %}
            <div class="avatar">
                  {% if user.is_superuser %}
                    <h2>Adm</h2>
                  {% else %}
                    <h2>User</h2>
                  {% endif %}
              </div>      
            {% endif %}              
        </nav>
    </header>
    <main>
        <form method="post" action="{% url 'return-book' book.id %}">
            {% csrf_token %}
            {% block content %}
            <div class="card">
                {% if book.book_cover %}
                    <img src="{{ book.book_cover.url}}" alt="{{ book.name }}">
                {% else %}
                    <img src="../../../media/img-nao-disp.png" alt="Home">
                {% endif %}
                <div class="card-content">
                    <h2>{{ book.name }}</h2>
                    {% csrf_token %}                  
                    <label for="selected_user">Escolha um usuário da lista de empréstimos:</label>
                    <select name="selected_user" id="selected_user">
                    <option value="">-- Selecione um usuário --</option>
                    {% for loan in loans %}
                        <option value="{{ loan.user.id }}">{{ loan.user.username }}</option>
                    {% endfor %}
                    </select>
                </div>
            </div>
            <div class="card-button">
                <button type="submit">Confirmar</button>
                <a href="{% url 'return-book' book.id %}" type="submit">Cancelar</a>
                <button type="button" onclick="history.back(), preventDefault()">Voltar</button>
            </div>
            <div class="card-button">
                <form class="login-form">
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.level_tag == 'success' %}
                                <h4 class="success-message">{{ message }}</h4>
                            {% else %}
                                <h4 class="error-message">{{ message }}</h4>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </form>
            </div>
            {% endblock %}
        </form>
    </main>
    <footer class="footer">
        <img src="../../../media/ralph-rosto.png" alt="Ralph">
        <a href="https://github.com/AndersonDutra7" target="_blank"><i class="fab fa-github"></i></a>
        <p>Created by Anderson Dutra</p>
        <a href="https://www.linkedin.com/in/anderson-dutra-88b294211/" target="_blank"><i class="fab fa-linkedin"></i></a>
        <img src="../../../media/teddy-rosto.png" alt="Teddy">
    </footer>
</body>
</html>
