*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
     
body{
    background: radial-gradient(circle, rgba(252, 245, 245, 1) 30%, salmon 50%, whitesmoke 95%);
}

.navbar{
    width: 100%;
    height: 80px;
    background-color: salmon;
    display: flex;
    justify-content: center;
    align-items: center;
}