*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
     
body{
    background: linear-gradient(to bottom, rgba(252, 245, 245, 1) 30%, whitesmoke 50%, salmon 95%);
}

.navbar{
    background: linear-gradient(to bottom, rgba(252, 245, 245, 1) 30%, whitesmoke 50%, salmon 95%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.logo-navbar{
    width: auto;
    height: auto;
}

.title-navbar{
    font-size: 30px;
}

.search-navbar input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.search-navbar button {
    background-color: #94c6f8;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 10px;
    cursor: pointer;
}
