*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
     
body {
    width: auto;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(to bottom, rgba(252, 245, 245, 1) 30%, whitesmoke 50%, whitesmoke 50%, salmon 95%);
    background-repeat: no-repeat;
    margin-bottom: 8%;
}

.navbar{
    background: linear-gradient(to bottom, rgba(252, 245, 245, 1) 30%, whitesmoke 50%, salmon 95%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-navbar{
    width: 200px;
    height: 110px;
}

.logo-navbar a img{
    width: 220px;
    height: 120px;
    background-size: cover;
}

.title-navbar{
    font-size: 30px;
}

.search-navbar input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.search-navbar a {
    background-color: #94c6f8;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 10px;
    cursor: pointer;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.search-navbar a:hover {
    background:linear-gradient(to bottom, #94c6f8 5%, #037ffc 100%);
	cursor: pointer;
}

.avatar{
    padding: 1%;
    background-color: #94c6f8;
    border-radius: 50%;
}

.navbar-links{
    background-color: salmon;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2px;
}

.navbar-links a {
    color: aliceblue;
    border: none;
    border-radius: 5px;
    padding: 2px 10px;
    margin: 0px 10px;
    cursor: pointer;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-links a:hover {
    background:linear-gradient(to bottom, #94c6f8 5%, #037ffc 100%);
	cursor: pointer;
}

main{
    height: auto;
    display: flex;
    align-items: flex-start;
    overflow: auto;
    margin: 5% 2%;
}

.card{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.card > a > img{
    height: 300px;
    width: 200px;
    box-shadow: 0 9px 9px rgba(0, 0, 0, 0.9);
    border: 5px solid #94c6f8;
    margin-left: 1%;
    cursor: pointer;
}

.card-content{
    height: 300px;
    width: 300px;
    flex-wrap: wrap;
    border-right: 5px solid #94c6f8;
    margin-right: 2%;
}

.card-content > h2, .no-results-message{
    font-size: 20px;
    margin: 4%;
    border-bottom: 5px solid #396a9c;
}

.card-content > p{
    font-size: 16px;
    margin: 4%;
}

.footer{
    gap: 10px;
    display: flex;
    box-shadow: 0 0px 10px rgb(8, 8, 8);
    background-color: rgb(243, 186, 210);
    justify-content: center;
    align-items: center;
    height: 50px;
    position: fixed;
    bottom: 3px;
    left: 0;
    right: 0;
}

.footer > img{
    max-width: 60px;
    max-height: 60px;
    box-shadow: none;
    filter: sepia(50%) grayscale(30%) contrast(90%) brightness(80%);
}

.footer > p{
    font-size: 14px;
}

.footer > a >i{
    font-size: 24px;
    cursor: pointer;
    color: black;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

.error-message{
    color: red;
}

.success-message{
    color: blue;
}

.description {
    max-height: 10rem;
    overflow: hidden;
}

.expanded {
    max-height: none;
}

.toggle-btn {
    cursor: pointer;
    color: blue;
}

@media screen and (max-width: 1120px) {
    .title-navbar{
        font-size: 24px;
    }
}

@media screen and (max-width: 985px) {
    .title-navbar{
        display: none;
    }
}

@media screen and (max-width: 595px) {
    .navbar{
        display: flex;
        flex-direction: column;
        padding-bottom: 5%;
    }

    .avatar{
        margin-top: -10%;
        margin-right: -80%;
        position: absolute;
    }
}

@media screen and (max-width: 508px) {
    .navbar .navbar-links{
        padding-bottom: 2% 0;
        justify-content: center;
    }

    .admin-links{
        display: flex;
        flex-direction: column;
    }
}