main{
    margin: 2% 2%;
}

.card-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.card-content select{
    padding: 8px;
    border-radius: 5px;
    width: 200px;
    margin-top: 20px;
    margin-top: 0px;
}

.card-content [type="text"]{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 90%;
    border: 1px solid #111111;
}

.card-button button {
    display: flex;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border: none;
    background: linear-gradient(to bottom, #94c6f8 5%, #037ffc 100%);
    color: rgb(8, 30, 53);
    box-shadow:inset 0px 1px 0px 0px #fce2c1;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
}

.card-button button:hover {
    color: aliceblue;
}